{% extends "::base.html.twig" %}

{% block title %}Reset Password - LectureNotes.in{% endblock %}

{% block body %}
    <section id="login_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div id="login">
                        {{ form_start(form) }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}"/>
                        {{ form_widget(form) }}
                        <div id="pass-info" class="clearfix"></div>
                        <button type="submit" class="btn btn-primary">
                            {% trans %}user.password.reset.new.action{% endtrans %}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End login -->
{% endblock %}
{% block jsVariables %}
    <script>
        $(document).ready(function() {
            var password1 		= $('#password_reset_new_first'); //id of first password field
            var password2		= $('#password_reset_new_second'); //id of second password field
            var passwordsInfo 	= $('#pass-info'); //id of indicator element
            passwordStrengthCheck(password1,password2,passwordsInfo); //call password check function

        });
    </script>
{% endblock %}