{% extends 'page.html.twig' %}

{% block title %}Events - Perception 2017{% endblock %}

{% block content %}
    <div class="content mdl-grid mdl-grid--no-spacing" id="content">
        <div class="subpageheader mdl-cell--12-col">Events</div>
        <!-- search and filters should go here -->
        {% for event in events %}
            <div class="event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <a class="mdl-button mdl-js-button">{{ event.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
