{% extends 'page.html.twig' %}

{% block pageid %}pageid events{% endblock %}

{% block title %}Events - Perception 2017{% endblock %}

{% block content %}
    <div class="content-box center mdl-grid" id="content">
        <h2 class="mdl-cell--12-col">Events</h2>
        <!-- search and filters should go here -->
        {% for event in events %}
            <div class="competition event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col"
                    {% if event.image %}
                 style="background-image: url({{ asset('uploads/images/' ~ event.image.fileName) }})">
                {% else %}
                    style="background-image: url({{ asset('images/event.jpg') }})">
                {% endif %}
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="mdl-color-text--black">{{ event.name }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
